body {
  margin-top: 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .btns-container {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .btns-container-sm {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-cards .product-card {
  height: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 229px;
          flex: 0 0 229px;
  margin: 0 15px 20px;
  border: 2px solid #9e9e9e;
  border-radius: 4px;
  position: relative;
}

.products-cards .product-card .delete-checkbox {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.products-cards .product-card .sku,
.products-cards .product-card .name,
.products-cards .product-card .price,
.products-cards .product-card .type,
.products-cards .product-card .attribute {
  text-align: center;
}

.products-cards .product-card .sku {
  margin-top: 40px;
}

.products-cards .product-card .attribute {
  margin-top: -15px;
}

footer {
  margin-top: -5px;
}

#product_form input[type="text"] {
  margin-bottom: 20px;
  width: 300px !important;
}

#product_form label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

#product_form select {
  margin-bottom: 20px;
}

#product_form .details {
  display: none;
}

#product_form span.error-text {
  color: red;
  position: absolute;
  right: -41%;
  margin-top: 4px;
}

#product_form .fronEnd-alert {
  display: none;
}

footer div {
  margin-bottom: 5px;
}

@media (max-width: 1400px) {
  .product-card {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 229px !important;
            flex: 1 0 229px !important;
  }
}
/*# sourceMappingURL=style.css.map */