body {
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  .btns-container {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btns-container-sm {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: left;
  align-items: center;
  .product-card {
    height: 200px;
    flex: 0 0 229px;
    margin: 0 15px 20px;
    border: 2px solid #9e9e9e;
    border-radius: 4px;
    position: relative;
    .delete-checkbox {
      position: absolute;
      top: 15px;
      left: 15px;
      cursor: pointer;
    }
    .sku,
    .name,
    .price,
    .type,
    .attribute {
      text-align: center;
    }
    .sku {
      margin-top: 40px;
    }
    .attribute {
      margin-top: -15px;
    }
  }
}

footer {
  margin-top: -5px;
}

#product_form {
  input[type="text"] {
    margin-bottom: 20px;
    width: 300px !important;
  }
  label {
    display: inline-block;
    width: 200px;
    text-align: left;
  }
  select {
    margin-bottom: 20px;
  }
  .details {
    display: none;
  }
  span.error-text {
    color: red;
    position: absolute;
    right: -41%;
    margin-top: 4px;
  }
  .fronEnd-alert {
    display: none;
  }
}

footer div {
  margin-bottom: 5px;
}

@media (max-width: 1400px) {
  .product-card {
    flex: 1 0 229px !important;
  }
}
